<% @catalog.each do |date, bookmarks| %>
  <section>
    <h3><%= date %></h3>
    <% bookmarks.each do |bookmark| %>
      <%= render partial: "resources/resource", locals: { resource: bookmark.resource, bookmark: bookmark } %>
    <% end %>
  </section>
<% end %>
