<% @catalog.each do |date, bookmarks| %>
  <h3><%= date %></h3>
  <dl>
    <% bookmarks.each do |bookmark| %>
      <%= render partial: "resources/resource", locals: { resource: bookmark.resource, bookmark: bookmark } %>
    <% end %>
  </dl>
<% end %>
