<%= form_for @resource do |f| %>
  <div>
    <%= f.text_area :link, :placeholder => 'https://...', :class => 'input-xxlarge', :rows => 6 %>
  </div>
  <div>
    <%= f.submit "Add", :class => 'btn btn-primary' %>
  </div>
<% end %>
